* {
  margin: 0;
  box-sizing: border-box;
}
.home-page {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 4rem;
    border: 2px solid red;
  }
}
.add-page {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: grid;
  place-items: center;
}
